<div class="jumbotron vertical-center bg-transparent text-center" >
    <h1 class="display-4">Search For a Movie Now!</h1>
    <form action="/results" method="GET" class= "searchForm container">
        <input type="text" placeholder="Search a Movie Title" name="search">
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>
</div>