<link href="views\app.css">
<form action="/results" method="GET">
    <p>Enter Movie Title</p>
    <input type="text" placeholder="Move Title" name="search">
    <button type="submit">Search</button>
</form>