
input {
    width:80%;
    height:5%;
}
input[placeholder="Search a Movie Title"] {
    text-align: center;
    font-size: 2em;
}
body {
    background-color: #15202b;
    color: #ffffff;
    
}
.jumbotron {
    margin: 0%;
    padding: 0%;
}
.movieInfo {
    padding-bottom: 5%;
}
h1 {
    padding: 5%;
}